
.button {
    background-color: white; /* Green */
    border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 100%;
    position: absolute;
}

body{
    background-image: url("USAMap.png");
    background-size: 75% ;
    background-repeat: no-repeat;
}

.washington{
    margin-left: 110px;
    margin-top: 20px;
}
.oregon{
    margin-left: 90px;
    margin-top: 90px;
}
.california{
    margin-left: 60px;
    margin-top: 270px;
}
.nevada{
    margin-left: 130px;
    margin-top: 230px;
}
.montana{
    margin-left: 280px;
    margin-top: 50px;
}
.idaho{
    margin-left: 180px;
    margin-top: 110px;
}
.utah{
    margin-left: 210px;
    margin-top: 210px;
}
.wyoming{
    margin-left: 295px;
    margin-top: 145px;
}
.arizona{
    margin-left: 200px;
    margin-top: 360px;
}
.newMexico{
    margin-left: 300px;
    margin-top: 320px;
}
.colorado{
    margin-left: 315px;
    margin-top: 230px;
}
.texas{
    margin-left: 400px;
    margin-top: 390px;
}
.oklahoma{
    margin-left: 460px;
    margin-top: 355px;
}
.kansas{
    margin-left: 473px;
    margin-top: 273px;
}
.nebraska{
    margin-left: 430px;
    margin-top: 225px;
}
.nDakota{
    margin-left: 415px;
    margin-top: 60px;
}
.sDakota{
    margin-left: 420px;
    margin-top: 130px;
}
.minnesota{
    margin-left: 510px;
    margin-top: 125px;
}
.iowa{
    margin-left: 520px;
    margin-top: 176px;
}
.missouri{
    margin-left: 540px;
    margin-top: 250px;
}
.arkansas{
    margin-left: 550px;
    margin-top: 367px;
}
.louisiana{
    margin-left: 550px;
    margin-top: 410px;
}
.mississippi{
    margin-left: 610px;
    margin-top: 367px;
}
.tennesse{
    margin-left: 612px;
    margin-top: 325px;
}
.kentucky{
    margin-left: 650px;
    margin-top: 290px;
}
.indiana{
    margin-left: 653px;
    margin-top: 248px;
}
.illinois{
    margin-left: 608px;
    margin-top: 260px;
}
.wisconsin{
    margin-left: 590px;
    margin-top: 160px;
}
.michigan{
    margin-left: 670px;
    margin-top: 178px;
}
.alabama{
    margin-left: 660px;
    margin-top: 363px;
}
.ohio{
    margin-left: 705px;
    margin-top: 235px;
}
.georgia{
    margin-left: 730px;
    margin-top: 400px;
}
.westVirginia{
    margin-left: 745px;
    margin-top: 263px;
}
.pennsylvania{
    margin-left: 780px;
    margin-top: 205px;
}
.newYork{
    margin-left: 833px;
    margin-top: 120px;
}
.virginia{
    margin-left: 778px;
    margin-top: 278px;
}

.nCarolina{
    margin-left: 760px;
    margin-top: 306px;
}
.sCarolina{
    margin-left: 756px;
    margin-top: 343px;
}
.florida{
    margin-left: 765px;
    margin-top: 443px;
}
.alaska{
    margin-left: 110px;
    margin-top: 460px;
}
.hawaii{
    margin-left: 285px;
    margin-top: 570px;
}



.button {

    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    border: .5px solid black;
}

.button:hover {
    background-color: black; /* Black */
    color: white;
}


/* Popup container */
.popup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    margin-left:1000px;
    margin-top:400px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
